In [ ]:
# installing java, findspark, spark (initial setup)
%%bash
apt-get install openjdk-8-jdk-headless -qq > /dev/null
[ ! -e "$(basename spark-2.4.4-bin-hadoop2.7.tgz)" ] && wget  http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
tar xf spark-2.4.4-bin-hadoop2.7.tgz
pip install -q findspark

## [**Start SPARK by setting the location it has to get installed**]

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# get a spark session.
spark = SparkSession.builder.master("local[*]").getOrCreate()

**Import Data from CSV and create DFs**

In [ ]:
! [ ! -e "$(basename Energy_Usage_2010.csv)" ] && wget  https://storage.googleapis.com/nishu_wsu/Energy_Usage_2010.csv

df = spark.read.csv('Jobsites_Dataset',header= True, inferSchema = True)


print(df.columns)

['COMMUNITY AREA NAME', 'CENSUS BLOCK', 'BUILDING TYPE', 'BUILDING_SUBTYPE', 'KWH JANUARY 2010', 'KWH FEBRUARY 2010', 'KWH MARCH 2010', 'KWH APRIL 2010', 'KWH MAY 2010', 'KWH JUNE 2010', 'KWH JULY 2010', 'KWH AUGUST 2010', 'KWH SEPTEMBER 2010', 'KWH OCTOBER 2010', 'KWH NOVEMBER 2010', 'KWH DECEMBER 2010', 'TOTAL KWH', 'ELECTRICITY ACCOUNTS', 'ZERO KWH ACCOUNTS', 'THERM JANUARY 2010', 'THERM FEBRUARY 2010', 'THERM MARCH 2010', 'TERM APRIL 2010', 'THERM MAY 2010', 'THERM JUNE 2010', 'THERM JULY 2010', 'THERM AUGUST 2010', 'THERM SEPTEMBER 2010', 'THERM OCTOBER 2010', 'THERM NOVEMBER 2010', 'THERM DECEMBER 2010', 'TOTAL THERMS', 'GAS ACCOUNTS', 'KWH TOTAL SQFT', 'THERMS TOTAL SQFT', 'KWH MEAN 2010', 'KWH STANDARD DEVIATION 2010', 'KWH MINIMUM 2010', 'KWH 1ST QUARTILE 2010', 'KWH 2ND QUARTILE 2010', 'KWH 3RD QUARTILE 2010', 'KWH MAXIMUM 2010', 'KWH SQFT MEAN 2010', 'KWH SQFT STANDARD DEVIATION 2010', 'KWH SQFT MINIMUM 2010', 'KWH SQFT 1ST QUARTILE 2010', 'KWH SQFT 2ND QUARTILE 2010', 'KWH SQFT 3RD QUARTILE 2010', 'KWH SQFT MAXIMUM 2010', 'THERM MEAN 2010', 'THERM STANDARD DEVIATION 2010', 'THERM MINIMUM 2010', 'THERM 1ST QUARTILE 2010', 'THERM 2ND QUARTILE 2010', 'THERM 3RD QUARTILE 2010', 'THERM MAXIMUM 2010', 'THERMS SQFT MEAN 2010', 'THERMS SQFT STANDARD DEVIATION 2010', 'THERMS SQFT MINIMUM 2010', 'THERMS SQFT 1ST QUARTILE 2010', 'THERMS SQFT 2ND QUARTILE 2010', 'THERMS SQFT 3RD QUARTILE 2010', 'THERMS SQFT MAXIMUM 2010', 'TOTAL POPULATION', 'TOTAL UNITS', 'AVERAGE STORIES', 'AVERAGE BUILDING AGE', 'AVERAGE HOUSESIZE', 'OCCUPIED UNITS', 'OCCUPIED UNITS PERCENTAGE', 'RENTER-OCCUPIED HOUSING UNITS', 'RENTER-OCCUPIED HOUSING PERCENTAGE', 'OCCUPIED HOUSING UNITS']

**EDA on my dataset**

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.describe().show()

+-------+-------------------+--------------------+-------------+----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+------------------+-------------------+-------------------+------------------+------------------+-----------------+------------------+------------------+---------------------------+------------------+---------------------+---------------------+---------------------+-----------------+------------------+--------------------------------+---------------------+--------------------------+--------------------------+--------------------------+---------------------+-----------------+-----------------------------+------------------+-----------------------+-----------------------+-----------------------+------------------+---------------------+-----------------------------------+------------------------+-----------------------------+-----------------------------+-----------------------------+------------------------+-----------------+------------------+------------------+--------------------+-----------------+------------------+-------------------------+-----------------------------+----------------------------------+----------------------+
|summary|COMMUNITY AREA NAME|        CENSUS BLOCK|BUILDING TYPE|BUILDING_SUBTYPE|  KWH JANUARY 2010|KWH FEBRUARY 2010|    KWH MARCH 2010|   KWH APRIL 2010|      KWH MAY 2010|     KWH JUNE 2010|     KWH JULY 2010|  KWH AUGUST 2010|KWH SEPTEMBER 2010| KWH OCTOBER 2010| KWH NOVEMBER 2010|KWH DECEMBER 2010|         TOTAL KWH|ELECTRICITY ACCOUNTS| ZERO KWH ACCOUNTS|THERM JANUARY 2010|THERM FEBRUARY 2010|  THERM MARCH 2010|   TERM APRIL 2010|    THERM MAY 2010|   THERM JUNE 2010|  THERM JULY 2010| THERM AUGUST 2010|THERM SEPTEMBER 2010|THERM OCTOBER 2010|THERM NOVEMBER 2010|THERM DECEMBER 2010|      TOTAL THERMS|      GAS ACCOUNTS|   KWH TOTAL SQFT| THERMS TOTAL SQFT|     KWH MEAN 2010|KWH STANDARD DEVIATION 2010|  KWH MINIMUM 2010|KWH 1ST QUARTILE 2010|KWH 2ND QUARTILE 2010|KWH 3RD QUARTILE 2010| KWH MAXIMUM 2010|KWH SQFT MEAN 2010|KWH SQFT STANDARD DEVIATION 2010|KWH SQFT MINIMUM 2010|KWH SQFT 1ST QUARTILE 2010|KWH SQFT 2ND QUARTILE 2010|KWH SQFT 3RD QUARTILE 2010|KWH SQFT MAXIMUM 2010|  THERM MEAN 2010|THERM STANDARD DEVIATION 2010|THERM MINIMUM 2010|THERM 1ST QUARTILE 2010|THERM 2ND QUARTILE 2010|THERM 3RD QUARTILE 2010|THERM MAXIMUM 2010|THERMS SQFT MEAN 2010|THERMS SQFT STANDARD DEVIATION 2010|THERMS SQFT MINIMUM 2010|THERMS SQFT 1ST QUARTILE 2010|THERMS SQFT 2ND QUARTILE 2010|THERMS SQFT 3RD QUARTILE 2010|THERMS SQFT MAXIMUM 2010| TOTAL POPULATION|       TOTAL UNITS|   AVERAGE STORIES|AVERAGE BUILDING AGE|AVERAGE HOUSESIZE|    OCCUPIED UNITS|OCCUPIED UNITS PERCENTAGE|RENTER-OCCUPIED HOUSING UNITS|RENTER-OCCUPIED HOUSING PERCENTAGE|OCCUPIED HOUSING UNITS|
+-------+-------------------+--------------------+-------------+----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+------------------+-------------------+-------------------+------------------+------------------+-----------------+------------------+------------------+---------------------------+------------------+---------------------+---------------------+---------------------+-----------------+------------------+--------------------------------+---------------------+--------------------------+--------------------------+--------------------------+---------------------+-----------------+-----------------------------+------------------+-----------------------+-----------------------+-----------------------+------------------+---------------------+-----------------------------------+------------------------+-----------------------------+-----------------------------+-----------------------------+------------------------+-----------------+------------------+------------------+--------------------+-----------------+------------------+-------------------------+-----------------------------+----------------------------------+----------------------+
|  count|              67051|               66974|        66974|           66974|             66180|            66180|             66180|            66180|             66180|             66180|             66180|            66180|             66180|            66180|             66180|            66180|             66180|               66180|             67051|             64821|              62819|             65569|             65476|             65194|             65284|            65231|             65143|               64769|             65329|              65492|              65507|             65755|             65755|            65901|             65378|             66180|                      57095|             66180|                66180|                66180|                66180|            66180|             65901|                           51666|                65901|                     65901|                     65901|                     65901|                65901|            65755|                        56821|             65755|                  65755|                  65755|                  65755|             65755|                65378|                              51367|                   65378|                        65378|                        65378|                        65378|                   65378|            67037|             67037|             67051|               67051|            67037|             67037|                    64606|                        67037|                             64433|                 67037|
|   mean|               null|1.703140447194470...|         null|            null| 422.3416870898885|499.3204854368932|   520.52099609375|534.9991114621384| 533.8998455200824| 527.8898257448004|  529.538517618469|557.3150897407489|  593.061733615222|605.6108997010057| 628.5877443443883|625.3043354249858| 504.9039548022599|  16.615952026194286| 5.016124220637809| 586.1716299447584|   565.850200825932| 547.2207491769731|457.36296315342884| 406.5522955044383| 292.9207597347167|238.4427112557513| 221.7655266101966|   226.4303414052556| 304.7364708603145| 437.43937948023705|  548.3150665666604|444.45790934320075|14.016792658618225|791.5017421602787| 794.6232876712329| 539.1107407407408|          520.5627003320914| 524.8153254673207|    542.2252897068848|    561.6126482213439|    508.6111111111111|508.7354497354497| 905.2500408302137|               382.0090245233136|    798.7763249557902|         860.5458011921459|         898.3122479303757|         889.9852479598243|    855.8691232528589|696.8072193670533|            463.5066228379478| 540.3213674186668|      628.4895918035453|      624.6977722772277|      554.3804394657475| 519.4020421186982|     907.072318454364|                   381.260708678149|       799.3814157399487|            862.5926426950602|            898.2317610062893|            891.2932002495321|       857.7442748091603| 82.9105149091996| 37.88934530300088|1.8875924296430926|   71.59300636828563|3.123407490301428|33.501919027493614|       0.8803647370213546|            19.88433972406379|                0.5116792652833128|    33.501919027493614|
| stddev|               null|2.7763915283621373E9|         null|            null|332.46512912365245| 313.549473086435|302.59886032361595|296.7990575923014|298.75171827043914|311.49997028498206|318.11611798579503|298.6070609495591| 272.0300001285322|258.7914202311284|257.43988121896155|269.6492709467988|256.77560692911646|  61.106056843541374|14.560107892468698|249.77363857819637| 255.18860053884725|251.44871968398482|265.08626745925034|272.15406715046606|228.78125488625764|197.2523897215863|187.49000614965624|  188.97718784774912| 230.5709193604127| 271.67005875825714| 253.68801618510264| 306.4159396765244|15.518352491345732|159.2250216342795|152.91736377241781|268.96532423241615|         286.87226858560996|264.64870711815826|    264.2447786881528|   272.98726669186533|   260.20896539850213|260.1607192749379| 96.03471730777879|              249.61038111095917|   137.95557760490328|        113.72609020111653|         94.55410967668416|        111.76527641508393|   130.74780767113438|303.7180979032984|            227.0738720923064| 303.3754530700461|      318.7985090105855|      325.9991176273821|      332.3565820926735|336.99006575080034|     94.0269149104588|                 249.46010632981827|       135.4827420112457|           109.96409703533541|            93.33031956809678|           108.88358440892063|      127.84829584558379|82.07960471284251|54.093660755479505| 1.957215234132569|  34.168384014759994|15.31502515267735|49.608981800876336|       0.1309366429495468|            38.15872832281637|                0.2884310884997897|    49.608981800876336|
|    min|        Albany Park|     170310101001000|   Commercial|      Commercial|                 0|                0|                 0|                0|                 0|                 0|                 0|                0|                 0|                0|                 0|                0|         1,002,776|                  10|                 0|                 1|                  1|                 1|                 1|                 1|                 1|                1|                 1|                   1|                 1|                  1|                  1|             1,000|                10|            1,000|             1,000|         1,003,699|                       0.00|             1,000|                1,000|            1,005,010|            1,000,169|        1,000,169|             1,000|                            0.00|                1,000|                     1,000|                     1,000|                     1,000|                1,000|            1,000|                         0.00|             1,000|                  1,000|                  1,000|                  1,000|             1,000|                1,000|                               0.00|                   1,000|                        1,000|                        1,000|                        1,000|                   1,000|                0|                 0|               1.0|                 0.0|                0|                 0|                      0.0|                            0|                               0.0|                     0|
|    max|           Woodlawn|     170319801001006|  Residential|   Single Family|               999|              999|               999|              999|               999|               999|               999|              999|               999|              999|               999|              999|           998,728|         Less than 4|                99|               999|                999|               999|               999|               999|               999|              999|               999|                 999|               999|                999|                999|               998|       Less than 4|              997|               997|         996,488.6|                999.8489886|               999|                  999|                  998|              999,777|          999,777|            999.91|                    999.92016348|                  999|                     999.5|                     999.5|                     999.5|                  999|           999.81|                  999.8489886|               999|                  999.5|                  999.5|                  999.5|               999|               999.94|                       999.92016348|                     999|                        999.5|                        999.5|                        999.5|                     999|               99|               993|             110.0|               158.0|           925.35|                99|                      1.0|                          993|                               1.0|                    99|
+-------+-------------------+--------------------+-------------+----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+------------------+-------------------+-------------------+------------------+------------------+-----------------+------------------+------------------+---------------------------+------------------+---------------------+---------------------+---------------------+-----------------+------------------+--------------------------------+---------------------+--------------------------+--------------------------+--------------------------+---------------------+-----------------+-----------------------------+------------------+-----------------------+-----------------------+-----------------------+------------------+---------------------+-----------------------------------+------------------------+-----------------------------+-----------------------------+-----------------------------+------------------------+-----------------+------------------+------------------+--------------------+-----------------+------------------+-------------------------+-----------------------------+----------------------------------+----------------------+

In [ ]:
df.dtypes

[('COMMUNITY AREA NAME', 'string'),
 ('CENSUS BLOCK', 'bigint'),
 ('BUILDING TYPE', 'string'),
 ('BUILDING_SUBTYPE', 'string'),
 ('KWH JANUARY 2010', 'string'),
 ('KWH FEBRUARY 2010', 'string'),
 ('KWH MARCH 2010', 'string'),
 ('KWH APRIL 2010', 'string'),
 ('KWH MAY 2010', 'string'),
 ('KWH JUNE 2010', 'string'),
 ('KWH JULY 2010', 'string'),
 ('KWH AUGUST 2010', 'string'),
 ('KWH SEPTEMBER 2010', 'string'),
 ('KWH OCTOBER 2010', 'string'),
 ('KWH NOVEMBER 2010', 'string'),
 ('KWH DECEMBER 2010', 'string'),
 ('TOTAL KWH', 'string'),
 ('ELECTRICITY ACCOUNTS', 'string'),
 ('ZERO KWH ACCOUNTS', 'string'),
 ('THERM JANUARY 2010', 'string'),
 ('THERM FEBRUARY 2010', 'string'),
 ('THERM MARCH 2010', 'string'),
 ('TERM APRIL 2010', 'string'),
 ('THERM MAY 2010', 'string'),
 ('THERM JUNE 2010', 'string'),
 ('THERM JULY 2010', 'string'),
 ('THERM AUGUST 2010', 'string'),
 ('THERM SEPTEMBER 2010', 'string'),
 ('THERM OCTOBER 2010', 'string'),
 ('THERM NOVEMBER 2010', 'string'),
 ('THERM DECEMBER 2010', 'string'),
 ('TOTAL THERMS', 'string'),
 ('GAS ACCOUNTS', 'string'),
 ('KWH TOTAL SQFT', 'string'),
 ('THERMS TOTAL SQFT', 'string'),
 ('KWH MEAN 2010', 'string'),
 ('KWH STANDARD DEVIATION 2010', 'string'),
 ('KWH MINIMUM 2010', 'string'),
 ('KWH 1ST QUARTILE 2010', 'string'),
 ('KWH 2ND QUARTILE 2010', 'string'),
 ('KWH 3RD QUARTILE 2010', 'string'),
 ('KWH MAXIMUM 2010', 'string'),
 ('KWH SQFT MEAN 2010', 'string'),
 ('KWH SQFT STANDARD DEVIATION 2010', 'string'),
 ('KWH SQFT MINIMUM 2010', 'string'),
 ('KWH SQFT 1ST QUARTILE 2010', 'string'),
 ('KWH SQFT 2ND QUARTILE 2010', 'string'),
 ('KWH SQFT 3RD QUARTILE 2010', 'string'),
 ('KWH SQFT MAXIMUM 2010', 'string'),
 ('THERM MEAN 2010', 'string'),
 ('THERM STANDARD DEVIATION 2010', 'string'),
 ('THERM MINIMUM 2010', 'string'),
 ('THERM 1ST QUARTILE 2010', 'string'),
 ('THERM 2ND QUARTILE 2010', 'string'),
 ('THERM 3RD QUARTILE 2010', 'string'),
 ('THERM MAXIMUM 2010', 'string'),
 ('THERMS SQFT MEAN 2010', 'string'),
 ('THERMS SQFT STANDARD DEVIATION 2010', 'string'),
 ('THERMS SQFT MINIMUM 2010', 'string'),
 ('THERMS SQFT 1ST QUARTILE 2010', 'string'),
 ('THERMS SQFT 2ND QUARTILE 2010', 'string'),
 ('THERMS SQFT 3RD QUARTILE 2010', 'string'),
 ('THERMS SQFT MAXIMUM 2010', 'string'),
 ('TOTAL POPULATION', 'string'),
 ('TOTAL UNITS', 'string'),
 ('AVERAGE STORIES', 'double'),
 ('AVERAGE BUILDING AGE', 'double'),
 ('AVERAGE HOUSESIZE', 'string'),
 ('OCCUPIED UNITS', 'string'),
 ('OCCUPIED UNITS PERCENTAGE', 'double'),
 ('RENTER-OCCUPIED HOUSING UNITS', 'string'),
 ('RENTER-OCCUPIED HOUSING PERCENTAGE', 'double'),
 ('OCCUPIED HOUSING UNITS', 'string')]

**Print schema of the dataframes**

In [ ]:
df.printSchema()

root
 |-- COMMUNITY AREA NAME: string (nullable = true)
 |-- CENSUS BLOCK: long (nullable = true)
 |-- BUILDING TYPE: string (nullable = true)
 |-- BUILDING_SUBTYPE: string (nullable = true)
 |-- KWH JANUARY 2010: string (nullable = true)
 |-- KWH FEBRUARY 2010: string (nullable = true)
 |-- KWH MARCH 2010: string (nullable = true)
 |-- KWH APRIL 2010: string (nullable = true)
 |-- KWH MAY 2010: string (nullable = true)
 |-- KWH JUNE 2010: string (nullable = true)
 |-- KWH JULY 2010: string (nullable = true)
 |-- KWH AUGUST 2010: string (nullable = true)
 |-- KWH SEPTEMBER 2010: string (nullable = true)
 |-- KWH OCTOBER 2010: string (nullable = true)
 |-- KWH NOVEMBER 2010: string (nullable = true)
 |-- KWH DECEMBER 2010: string (nullable = true)
 |-- TOTAL KWH: string (nullable = true)
 |-- ELECTRICITY ACCOUNTS: string (nullable = true)
 |-- ZERO KWH ACCOUNTS: string (nullable = true)
 |-- THERM JANUARY 2010: string (nullable = true)
 |-- THERM FEBRUARY 2010: string (nullable = true)
 |-- THERM MARCH 2010: string (nullable = true)
 |-- TERM APRIL 2010: string (nullable = true)
 |-- THERM MAY 2010: string (nullable = true)
 |-- THERM JUNE 2010: string (nullable = true)
 |-- THERM JULY 2010: string (nullable = true)
 |-- THERM AUGUST 2010: string (nullable = true)
 |-- THERM SEPTEMBER 2010: string (nullable = true)
 |-- THERM OCTOBER 2010: string (nullable = true)
 |-- THERM NOVEMBER 2010: string (nullable = true)
 |-- THERM DECEMBER 2010: string (nullable = true)
 |-- TOTAL THERMS: string (nullable = true)
 |-- GAS ACCOUNTS: string (nullable = true)
 |-- KWH TOTAL SQFT: string (nullable = true)
 |-- THERMS TOTAL SQFT: string (nullable = true)
 |-- KWH MEAN 2010: string (nullable = true)
 |-- KWH STANDARD DEVIATION 2010: string (nullable = true)
 |-- KWH MINIMUM 2010: string (nullable = true)
 |-- KWH 1ST QUARTILE 2010: string (nullable = true)
 |-- KWH 2ND QUARTILE 2010: string (nullable = true)
 |-- KWH 3RD QUARTILE 2010: string (nullable = true)
 |-- KWH MAXIMUM 2010: string (nullable = true)
 |-- KWH SQFT MEAN 2010: string (nullable = true)
 |-- KWH SQFT STANDARD DEVIATION 2010: string (nullable = true)
 |-- KWH SQFT MINIMUM 2010: string (nullable = true)
 |-- KWH SQFT 1ST QUARTILE 2010: string (nullable = true)
 |-- KWH SQFT 2ND QUARTILE 2010: string (nullable = true)
 |-- KWH SQFT 3RD QUARTILE 2010: string (nullable = true)
 |-- KWH SQFT MAXIMUM 2010: string (nullable = true)
 |-- THERM MEAN 2010: string (nullable = true)
 |-- THERM STANDARD DEVIATION 2010: string (nullable = true)
 |-- THERM MINIMUM 2010: string (nullable = true)
 |-- THERM 1ST QUARTILE 2010: string (nullable = true)
 |-- THERM 2ND QUARTILE 2010: string (nullable = true)
 |-- THERM 3RD QUARTILE 2010: string (nullable = true)
 |-- THERM MAXIMUM 2010: string (nullable = true)
 |-- THERMS SQFT MEAN 2010: string (nullable = true)
 |-- THERMS SQFT STANDARD DEVIATION 2010: string (nullable = true)
 |-- THERMS SQFT MINIMUM 2010: string (nullable = true)
 |-- THERMS SQFT 1ST QUARTILE 2010: string (nullable = true)
 |-- THERMS SQFT 2ND QUARTILE 2010: string (nullable = true)
 |-- THERMS SQFT 3RD QUARTILE 2010: string (nullable = true)
 |-- THERMS SQFT MAXIMUM 2010: string (nullable = true)
 |-- TOTAL POPULATION: string (nullable = true)
 |-- TOTAL UNITS: string (nullable = true)
 |-- AVERAGE STORIES: double (nullable = true)
 |-- AVERAGE BUILDING AGE: double (nullable = true)
 |-- AVERAGE HOUSESIZE: string (nullable = true)
 |-- OCCUPIED UNITS: string (nullable = true)
 |-- OCCUPIED UNITS PERCENTAGE: double (nullable = true)
 |-- RENTER-OCCUPIED HOUSING UNITS: string (nullable = true)
 |-- RENTER-OCCUPIED HOUSING PERCENTAGE: double (nullable = true)
 |-- OCCUPIED HOUSING UNITS: string (nullable = true)

**display the first 20 rows of the data frame**

In [ ]:
df.show()

+-------------------+---------------+-------------+----------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+------------------+-------------------+----------------+---------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+------------+------------+--------------+-----------------+-------------+---------------------------+----------------+---------------------+---------------------+---------------------+----------------+------------------+--------------------------------+---------------------+--------------------------+--------------------------+--------------------------+---------------------+---------------+-----------------------------+------------------+-----------------------+-----------------------+-----------------------+------------------+---------------------+-----------------------------------+------------------------+-----------------------------+-----------------------------+-----------------------------+------------------------+----------------+-----------+---------------+--------------------+-----------------+--------------+-------------------------+-----------------------------+----------------------------------+----------------------+
|COMMUNITY AREA NAME|   CENSUS BLOCK|BUILDING TYPE|BUILDING_SUBTYPE|KWH JANUARY 2010|KWH FEBRUARY 2010|KWH MARCH 2010|KWH APRIL 2010|KWH MAY 2010|KWH JUNE 2010|KWH JULY 2010|KWH AUGUST 2010|KWH SEPTEMBER 2010|KWH OCTOBER 2010|KWH NOVEMBER 2010|KWH DECEMBER 2010|TOTAL KWH|ELECTRICITY ACCOUNTS|ZERO KWH ACCOUNTS|THERM JANUARY 2010|THERM FEBRUARY 2010|THERM MARCH 2010|TERM APRIL 2010|THERM MAY 2010|THERM JUNE 2010|THERM JULY 2010|THERM AUGUST 2010|THERM SEPTEMBER 2010|THERM OCTOBER 2010|THERM NOVEMBER 2010|THERM DECEMBER 2010|TOTAL THERMS|GAS ACCOUNTS|KWH TOTAL SQFT|THERMS TOTAL SQFT|KWH MEAN 2010|KWH STANDARD DEVIATION 2010|KWH MINIMUM 2010|KWH 1ST QUARTILE 2010|KWH 2ND QUARTILE 2010|KWH 3RD QUARTILE 2010|KWH MAXIMUM 2010|KWH SQFT MEAN 2010|KWH SQFT STANDARD DEVIATION 2010|KWH SQFT MINIMUM 2010|KWH SQFT 1ST QUARTILE 2010|KWH SQFT 2ND QUARTILE 2010|KWH SQFT 3RD QUARTILE 2010|KWH SQFT MAXIMUM 2010|THERM MEAN 2010|THERM STANDARD DEVIATION 2010|THERM MINIMUM 2010|THERM 1ST QUARTILE 2010|THERM 2ND QUARTILE 2010|THERM 3RD QUARTILE 2010|THERM MAXIMUM 2010|THERMS SQFT MEAN 2010|THERMS SQFT STANDARD DEVIATION 2010|THERMS SQFT MINIMUM 2010|THERMS SQFT 1ST QUARTILE 2010|THERMS SQFT 2ND QUARTILE 2010|THERMS SQFT 3RD QUARTILE 2010|THERMS SQFT MAXIMUM 2010|TOTAL POPULATION|TOTAL UNITS|AVERAGE STORIES|AVERAGE BUILDING AGE|AVERAGE HOUSESIZE|OCCUPIED UNITS|OCCUPIED UNITS PERCENTAGE|RENTER-OCCUPIED HOUSING UNITS|RENTER-OCCUPIED HOUSING PERCENTAGE|OCCUPIED HOUSING UNITS|
+-------------------+---------------+-------------+----------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+------------------+-------------------+----------------+---------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+------------+------------+--------------+-----------------+-------------+---------------------------+----------------+---------------------+---------------------+---------------------+----------------+------------------+--------------------------------+---------------------+--------------------------+--------------------------+--------------------------+---------------------+---------------+-----------------------------+------------------+-----------------------+-----------------------+-----------------------+------------------+---------------------+-----------------------------------+------------------------+-----------------------------+-----------------------------+-----------------------------+------------------------+----------------+-----------+---------------+--------------------+-----------------+--------------+-------------------------+-----------------------------+----------------------------------+----------------------+
|     Archer Heights|170315704001006|  Residential|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                0|             2,326|              2,131|           1,400|            620|           502|            224|            222|              187|                 197|               252|                744|              2,112|      10,917|          11|          null|           11,134|         null|                       null|            null|                 null|                 null|                 null|            null|              null|                            null|                 null|                      null|                      null|                      null|                 null|        1,819.5|                 547.64322328|             1,061|                  1,334|                1,864.5|                  2,306|             2,487|             1,855.67|                       490.89374275|                   1,382|                        1,382|                        1,779|                        2,162|                   2,650|              89|         24|            2.0|               71.33|             3.87|            23|                   0.9582|                            9|                             0.391|                    23|
|            Ashburn|170317005014004|  Residential|        Multi 7+|           7,334|            7,741|         4,214|         4,284|       2,518|        4,273|        4,566|          2,787|             3,357|           5,540|           15,774|           19,676|   82,064|                   8|                3|              null|               null|            null|           null|          null|           null|           null|             null|                null|              null|               null|               null|        null|        null|        10,892|             null|    27,354.67|              22,082.794487|           8,886|                8,886|               21,363|               51,815|          51,815|            10,892|                            null|               10,892|                    10,892|                    10,892|                    10,892|               10,892|           null|                         null|              null|                   null|                   null|                   null|              null|                 null|                               null|                    null|                         null|                         null|                         null|                    null|             112|         67|            2.0|                41.0|             1.81|            62|                   0.9254|                           50|                            0.8059|                    62|
|     Auburn Gresham|170317105001006|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                7|             1,561|              1,388|           1,507|            701|           486|            380|             18|               16|                null|              null|               null|               null|       6,057|           4|          null|            7,347|         null|                       null|            null|                 null|                 null|                 null|            null|              null|                            null|                 null|                      null|                      null|                      null|                 null|        3,028.5|                4,150.0096988|                94|                     94|                3,028.5|                  5,963|             5,963|                7,347|                               null|                   7,347|                        7,347|                        7,347|                        7,347|                   7,347|             102|         48|            3.0|                86.0|                3|            34|                   0.7082|                           23|                            0.6759|                    34|
|             Austin|170312503003003|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                2|              null|               null|            null|           null|          null|           null|           null|             null|                null|              null|                  9|                391|         400| Less than 4|          null|            2,146|         null|                       null|            null|                 null|                 null|                 null|            null|              null|                            null|                 null|                      null|                      null|                      null|                 null|            400|                         null|               400|                    400|                    400|                    400|               400|                2,146|                               null|                   2,146|                        2,146|                        2,146|                        2,146|                   2,146|             121|         56|            2.0|                84.0|             2.95|            41|                   0.7321|                           32|                              0.78|                    41|
|             Austin|170312504002008|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                3|               310|                268|             163|             77|            57|             23|             19|                8|                  14|                10|               null|               null|         949| Less than 4|          null|            2,146|         null|                       null|            null|                 null|                 null|                 null|            null|              null|                            null|                 null|                      null|                      null|                      null|                 null|            949|                         null|               949|                    949|                    949|                    949|               949|                2,146|                               null|                   2,146|                        2,146|                        2,146|                        2,146|                   2,146|              62|         23|            2.0|                85.0|             3.26|            19|                   0.8261|                           11|                             0.579|                    19|
|             Austin|170312517001044|   Commercial|      Commercial|               0|                0|             0|             0|           0|            0|            0|            819|               619|             416|              138|                2|    1,994|         Less than 4|                1|              null|               null|            null|           null|          null|           null|           null|             null|                null|              null|               null|               null|        null|        null|         1,512|             null|        1,994|                       null|           1,994|                1,994|                1,994|                1,994|           1,994|             1,512|                            null|                1,512|                     1,512|                     1,512|                     1,512|                1,512|           null|                         null|              null|                   null|                   null|                   null|              null|                 null|                               null|                    null|                         null|                         null|                         null|                    null|              54|         18|            2.0|               131.0|                3|            18|                      1.0|                           10|                             0.556|                    18|
|             Austin|170312518003009|   Commercial|      Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                0|             3,041|              2,680|           1,151|            373|           124|             26|             29|               25|                  49|               177|                670|              3,895|      12,240| Less than 4|          null|           69,800|         null|                       null|            null|                 null|                 null|                 null|            null|              null|                            null|                 null|                      null|                      null|                      null|                 null|          6,120|                3,505.8354211|             3,641|                  3,641|                  6,120|                  8,599|             8,599|               34,900|                      32,244.069222|                  12,100|                       12,100|                       34,900|                       57,700|                  57,700|               0|          0|            1.0|                54.0|                0|             0|                     null|                            0|                              null|                     0|
|             Austin|170312520004000|   Commercial|       Multi < 7|           1,470|            1,325|           294|           391|         366|        2,204|        2,345|          2,032|               920|             586|              705|              785|   13,423|         Less than 4|                3|              null|               null|            null|           null|          null|           null|           null|             null|                null|              null|               null|               null|        null|        null|         1,988|             null|       13,423|                       null|          13,423|               13,423|               13,423|               13,423|          13,423|             1,988|                            null|                1,988|                     1,988|                     1,988|                     1,988|                1,988|           null|                         null|              null|                   null|                   null|                   null|              null|                 null|                               null|                    null|                         null|                         null|                         null|                    null|              64|         63|            2.0|               131.0|             1.02|            59|                   0.9365|                           59|                               1.0|                    59|
|             Austin|170312521011000|  Residential|        Multi 7+|           2,461|            4,888|         2,893|         2,737|       2,350|        3,037|        3,874|          4,861|             5,180|           2,984|            2,635|            3,597|   41,497|                   6|                0|              null|               null|            null|           null|          null|           null|           null|             null|                null|              null|               null|               null|        null|        null|         4,500|             null|       41,497|                       null|          41,497|               41,497|               41,497|               41,497|          41,497|             4,500|                            null|                4,500|                     4,500|                     4,500|                     4,500|                4,500|           null|                         null|              null|                   null|                   null|                   null|              null|                 null|                               null|                    null|                         null|                         null|                         null|                    null|              79|         31|            3.0|                99.0|             2.93|            27|                    0.871|                           27|                               1.0|                    27|
|             Austin|170312521011008|  Residential|        Multi 7+|               0|                0|             0|             0|           0|          511|          904|          1,818|             1,968|             738|              450|            2,207|    8,596|         Less than 4|                0|              null|               null|            null|           null|          null|           null|           null|             null|                null|              null|               null|               null|        null|        null|         4,500|             null|        8,596|                       null|           8,596|                8,596|                8,596|                8,596|           8,596|             4,500|                            null|                4,500|                     4,500|                     4,500|                     4,500|                4,500|           null|                         null|              null|                   null|                   null|                   null|              null|                 null|                               null|                    null|                         null|                         null|                         null|                    null|              84|         33|            3.0|                99.0|             3.82|            22|                   0.6667|                           16|                             0.727|                    22|

Fetching the distinct count of column values

In [ ]:
df.select('BUILDING TYPE').distinct().count()

4

In [ ]:
df.select('COMMUNITY AREA NAME').distinct().count()

77

**My dataset has two different types of energy classification. So Let's go ahead and create dataframes for differentiating the two energies.**

In [ ]:
#For Electrical Energy

electrical_energy = df.select(df.columns[:19])
display(electrical_energy)

DataFrame[COMMUNITY AREA NAME: string, CENSUS BLOCK: bigint, BUILDING TYPE: string, BUILDING_SUBTYPE: string, KWH JANUARY 2010: string, KWH FEBRUARY 2010: string, KWH MARCH 2010: string, KWH APRIL 2010: string, KWH MAY 2010: string, KWH JUNE 2010: string, KWH JULY 2010: string, KWH AUGUST 2010: string, KWH SEPTEMBER 2010: string, KWH OCTOBER 2010: string, KWH NOVEMBER 2010: string, KWH DECEMBER 2010: string, TOTAL KWH: string, ELECTRICITY ACCOUNTS: string, ZERO KWH ACCOUNTS: string]

In [ ]:
#For Thermal Energy

thermal_energy = df.select(df.columns[19:33])
display(thermal_energy)

DataFrame[THERM JANUARY 2010: string, THERM FEBRUARY 2010: string, THERM MARCH 2010: string, TERM APRIL 2010: string, THERM MAY 2010: string, THERM JUNE 2010: string, THERM JULY 2010: string, THERM AUGUST 2010: string, THERM SEPTEMBER 2010: string, THERM OCTOBER 2010: string, THERM NOVEMBER 2010: string, THERM DECEMBER 2010: string, TOTAL THERMS: string, GAS ACCOUNTS: string]

Dropping of a few columns from my newly created dataset.

In [ ]:
#Drop I

electrical_energy = electrical_energy.drop("CENSUS BLOCK")

In [ ]:
electrical_energy.show()

+-------------------+-------------+----------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
|COMMUNITY AREA NAME|BUILDING TYPE|BUILDING_SUBTYPE|KWH JANUARY 2010|KWH FEBRUARY 2010|KWH MARCH 2010|KWH APRIL 2010|KWH MAY 2010|KWH JUNE 2010|KWH JULY 2010|KWH AUGUST 2010|KWH SEPTEMBER 2010|KWH OCTOBER 2010|KWH NOVEMBER 2010|KWH DECEMBER 2010|TOTAL KWH|ELECTRICITY ACCOUNTS|ZERO KWH ACCOUNTS|
+-------------------+-------------+----------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
|     Archer Heights|  Residential|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                0|
|            Ashburn|  Residential|        Multi 7+|           7,334|            7,741|         4,214|         4,284|       2,518|        4,273|        4,566|          2,787|             3,357|           5,540|           15,774|           19,676|   82,064|                   8|                3|
|     Auburn Gresham|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                7|
|             Austin|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                2|
|             Austin|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                3|
|             Austin|   Commercial|      Commercial|               0|                0|             0|             0|           0|            0|            0|            819|               619|             416|              138|                2|    1,994|         Less than 4|                1|
|             Austin|   Commercial|      Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                0|
|             Austin|   Commercial|       Multi < 7|           1,470|            1,325|           294|           391|         366|        2,204|        2,345|          2,032|               920|             586|              705|              785|   13,423|         Less than 4|                3|
|             Austin|  Residential|        Multi 7+|           2,461|            4,888|         2,893|         2,737|       2,350|        3,037|        3,874|          4,861|             5,180|           2,984|            2,635|            3,597|   41,497|                   6|                0|
|             Austin|  Residential|        Multi 7+|               0|                0|             0|             0|           0|          511|          904|          1,818|             1,968|             738|              450|            2,207|    8,596|         Less than 4|                0|
|             Austin|  Residential|       Multi < 7|              96|              202|         1,837|         1,118|         669|          889|          812|          1,880|             1,743|             696|              684|              903|   11,529|                   5|                8|
|             Austin|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                1|
|           Avondale|   Commercial|       Multi < 7|           6,113|            6,669|         5,851|         8,723|       8,025|        9,396|        8,373|          8,889|             9,586|           9,638|            8,655|           10,591|  100,509|                   4|                0|
|           Avondale|   Commercial|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                1|
|           Avondale|   Commercial|        Multi 7+|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                5|
|           Avondale|   Commercial|       Multi < 7|               0|                0|             0|             0|          22|           32|          138|             54|                21|              18|               20|                3|      308|                   4|                0|
|           Avondale|   Commercial|       Multi < 7|           1,593|            1,853|         1,626|         1,493|       1,922|        3,637|        3,605|          3,579|             2,585|           1,430|            1,696|            1,813|   26,832|                   4|                1|
|           Avondale|   Commercial|       Multi < 7|             945|              698|           586|           934|       1,007|        1,419|        1,892|            772|               485|             369|            1,743|            2,880|   13,730|         Less than 4|                0|
|           Avondale|   Commercial|      Commercial|           4,006|            2,918|         3,124|         3,237|       3,736|        4,965|        5,382|          5,033|             3,393|           3,548|            4,041|            3,929|   47,312|         Less than 4|                1|
|           Avondale|  Residential|       Multi < 7|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                4|
+-------------------+-------------+----------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
only showing top 20 rows

We see that census block has been dropped and this was chosen to be dropped as it would not make any significant difference for my analysis.

In [ ]:
#Drop II
electrical_energy = electrical_energy.drop("BUILDING_SUBTYPE")
electrical_energy.show()
display(electrical_energy)

+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
|COMMUNITY AREA NAME|BUILDING TYPE|KWH JANUARY 2010|KWH FEBRUARY 2010|KWH MARCH 2010|KWH APRIL 2010|KWH MAY 2010|KWH JUNE 2010|KWH JULY 2010|KWH AUGUST 2010|KWH SEPTEMBER 2010|KWH OCTOBER 2010|KWH NOVEMBER 2010|KWH DECEMBER 2010|TOTAL KWH|ELECTRICITY ACCOUNTS|ZERO KWH ACCOUNTS|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
|     Archer Heights|  Residential|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                0|
|            Ashburn|  Residential|           7,334|            7,741|         4,214|         4,284|       2,518|        4,273|        4,566|          2,787|             3,357|           5,540|           15,774|           19,676|   82,064|                   8|                3|
|     Auburn Gresham|   Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                7|
|             Austin|   Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                2|
|             Austin|   Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                3|
|             Austin|   Commercial|               0|                0|             0|             0|           0|            0|            0|            819|               619|             416|              138|                2|    1,994|         Less than 4|                1|
|             Austin|   Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                0|
|             Austin|   Commercial|           1,470|            1,325|           294|           391|         366|        2,204|        2,345|          2,032|               920|             586|              705|              785|   13,423|         Less than 4|                3|
|             Austin|  Residential|           2,461|            4,888|         2,893|         2,737|       2,350|        3,037|        3,874|          4,861|             5,180|           2,984|            2,635|            3,597|   41,497|                   6|                0|
|             Austin|  Residential|               0|                0|             0|             0|           0|          511|          904|          1,818|             1,968|             738|              450|            2,207|    8,596|         Less than 4|                0|
|             Austin|  Residential|              96|              202|         1,837|         1,118|         669|          889|          812|          1,880|             1,743|             696|              684|              903|   11,529|                   5|                8|
|             Austin|   Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                1|
|           Avondale|   Commercial|           6,113|            6,669|         5,851|         8,723|       8,025|        9,396|        8,373|          8,889|             9,586|           9,638|            8,655|           10,591|  100,509|                   4|                0|
|           Avondale|   Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                1|
|           Avondale|   Commercial|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                5|
|           Avondale|   Commercial|               0|                0|             0|             0|          22|           32|          138|             54|                21|              18|               20|                3|      308|                   4|                0|
|           Avondale|   Commercial|           1,593|            1,853|         1,626|         1,493|       1,922|        3,637|        3,605|          3,579|             2,585|           1,430|            1,696|            1,813|   26,832|                   4|                1|
|           Avondale|   Commercial|             945|              698|           586|           934|       1,007|        1,419|        1,892|            772|               485|             369|            1,743|            2,880|   13,730|         Less than 4|                0|
|           Avondale|   Commercial|           4,006|            2,918|         3,124|         3,237|       3,736|        4,965|        5,382|          5,033|             3,393|           3,548|            4,041|            3,929|   47,312|         Less than 4|                1|
|           Avondale|  Residential|            null|             null|          null|          null|        null|         null|         null|           null|              null|            null|             null|             null|     null|                null|                4|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
only showing top 20 rows

DataFrame[COMMUNITY AREA NAME: string, BUILDING TYPE: string, KWH JANUARY 2010: string, KWH FEBRUARY 2010: string, KWH MARCH 2010: string, KWH APRIL 2010: string, KWH MAY 2010: string, KWH JUNE 2010: string, KWH JULY 2010: string, KWH AUGUST 2010: string, KWH SEPTEMBER 2010: string, KWH OCTOBER 2010: string, KWH NOVEMBER 2010: string, KWH DECEMBER 2010: string, TOTAL KWH: string, ELECTRICITY ACCOUNTS: string, ZERO KWH ACCOUNTS: string]

We see that the building subtype has been dropped. This was because, the type of the building was my initial criteria.

# **Checking for the below conditions: **

1.   IsNull
2.   IsNaN

**Creating Alias of the dataframes subset**

In [ ]:
from pyspark.sql.functions import isnan, when, count, col

In [ ]:
electrical_energy.select([count(when(isnan(e) | col(e).isNull(), e)).alias(e) for e in electrical_energy.columns]).show()

+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
|COMMUNITY AREA NAME|BUILDING TYPE|KWH JANUARY 2010|KWH FEBRUARY 2010|KWH MARCH 2010|KWH APRIL 2010|KWH MAY 2010|KWH JUNE 2010|KWH JULY 2010|KWH AUGUST 2010|KWH SEPTEMBER 2010|KWH OCTOBER 2010|KWH NOVEMBER 2010|KWH DECEMBER 2010|TOTAL KWH|ELECTRICITY ACCOUNTS|ZERO KWH ACCOUNTS|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+
|                  0|           77|             871|              871|           871|           871|         871|          871|          871|            871|               871|             871|              871|              871|      871|                 871|                0|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+---------+--------------------+-----------------+

In [ ]:
electrical_energy = electrical_energy.toDF('community_area_name',
 'building_type',
 'kwh_january_2010',
 'kwh_february_2010',
 'kwh_march_2010',
 'kwh_april_2010',
 'kwh_may_2010',
 'kwh_june_2010',
 'kwh_july_2010',
 'kwh_august_2010',
 'kwh_september_2010',
 'kwh_october_2010',
 'kwh_november_2010',
 'kwh_december_2010',
 'total_kwh_2010',
 'electrical_accounts',
 'zero_kwh_accounts')

Displaying the dataframe

In [ ]:
display(electrical_energy)

DataFrame[community_area_name: string, building_type: string, kwh_january_2010: string, kwh_february_2010: string, kwh_march_2010: string, kwh_april_2010: string, kwh_may_2010: string, kwh_june_2010: string, kwh_july_2010: string, kwh_august_2010: string, kwh_september_2010: string, kwh_october_2010: string, kwh_november_2010: string, kwh_december_2010: string, total_kwh_2010: string, electrical_accounts: string, zero_kwh_accounts: string]

Isnull check on building type column.

In [ ]:
from pyspark.sql.functions import col

electrical_energy = electrical_energy.where(col("building_type").isNotNull())

In [ ]:
electrical_energy.select([count(when(isnan(e) | col(e).isNull(), e)).alias(e) for e in electrical_energy.columns]).show()

+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+--------------+-------------------+-----------------+
|community_area_name|building_type|kwh_january_2010|kwh_february_2010|kwh_march_2010|kwh_april_2010|kwh_may_2010|kwh_june_2010|kwh_july_2010|kwh_august_2010|kwh_september_2010|kwh_october_2010|kwh_november_2010|kwh_december_2010|total_kwh_2010|electrical_accounts|zero_kwh_accounts|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+--------------+-------------------+-----------------+
|                  0|            0|             871|              871|           871|           871|         871|          871|          871|            871|               871|             871|              871|              871|           871|                871|                0|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+--------------+-------------------+-----------------+

we can see there are several nan values in almost each of the columns, hence lets replace it with avg values.

Below is a function called fillna with average values in pyspark. This replaces nan values with avg of the entries

In [ ]:
import pyspark.sql.functions as fn

def fillna_with_avg(dataframe, exclude=set()):
    stats = dataframe.agg(*(
        fn.avg(e).alias(e) for e in dataframe.columns if e not in exclude
    ))
    return dataframe.na.fill(stats.first().asDict())

We apply this to columns given below to verify all the nan values are replaced with avg values

In [ ]:
electrical_energy = fillna_with_avg(electrical_energy, ['community_area_name','building_type'])

In [ ]:
electrical_energy.select([count(when(isnan(e) | col(e).isNull(), e)).alias(e) for e in electrical_energy.columns]).show()

+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+--------------+-------------------+-----------------+
|community_area_name|building_type|kwh_january_2010|kwh_february_2010|kwh_march_2010|kwh_april_2010|kwh_may_2010|kwh_june_2010|kwh_july_2010|kwh_august_2010|kwh_september_2010|kwh_october_2010|kwh_november_2010|kwh_december_2010|total_kwh_2010|electrical_accounts|zero_kwh_accounts|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+--------------+-------------------+-----------------+
|                  0|            0|               0|                0|             0|             0|           0|            0|            0|              0|                 0|               0|                0|                0|             0|                  0|                0|
+-------------------+-------------+----------------+-----------------+--------------+--------------+------------+-------------+-------------+---------------+------------------+----------------+-----------------+-----------------+--------------+-------------------+-----------------+

In [ ]:
electrical_energy.show(5)

+-------------------+-------------+-----------------+-----------------+---------------+-----------------+-----------------+-----------------+----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+-------------------+-----------------+
|community_area_name|building_type| kwh_january_2010|kwh_february_2010| kwh_march_2010|   kwh_april_2010|     kwh_may_2010|    kwh_june_2010|   kwh_july_2010|  kwh_august_2010|kwh_september_2010| kwh_october_2010|kwh_november_2010|kwh_december_2010|   total_kwh_2010|electrical_accounts|zero_kwh_accounts|
+-------------------+-------------+-----------------+-----------------+---------------+-----------------+-----------------+-----------------+----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+-------------------+-----------------+
|     Archer Heights|  Residential|422.3416870898885|499.3204854368932|520.52099609375|534.9991114621384|533.8998455200824|527.8898257448004|529.538517618469|557.3150897407489|  593.061733615222|605.6108997010057|628.5877443443883|625.3043354249858|504.9039548022599| 15.418432008252589|                0|
|            Ashburn|  Residential|            7,334|            7,741|          4,214|            4,284|            2,518|            4,273|           4,566|            2,787|             3,357|            5,540|           15,774|           19,676|           82,064|                  8|                3|
|     Auburn Gresham|   Commercial|422.3416870898885|499.3204854368932|520.52099609375|534.9991114621384|533.8998455200824|527.8898257448004|529.538517618469|557.3150897407489|  593.061733615222|605.6108997010057|628.5877443443883|625.3043354249858|504.9039548022599| 15.418432008252589|                7|
|             Austin|   Commercial|422.3416870898885|499.3204854368932|520.52099609375|534.9991114621384|533.8998455200824|527.8898257448004|529.538517618469|557.3150897407489|  593.061733615222|605.6108997010057|628.5877443443883|625.3043354249858|504.9039548022599| 15.418432008252589|                2|
|             Austin|   Commercial|422.3416870898885|499.3204854368932|520.52099609375|534.9991114621384|533.8998455200824|527.8898257448004|529.538517618469|557.3150897407489|  593.061733615222|605.6108997010057|628.5877443443883|625.3043354249858|504.9039548022599| 15.418432008252589|                3|
+-------------------+-------------+-----------------+-----------------+---------------+-----------------+-----------------+-----------------+----------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+-------------------+-----------------+
only showing top 5 rows

Now for thermal energy subset dataframe

In [ ]:
from pyspark.sql.functions import isnan, when, count, col

In [ ]:
thermal_energy.select([count(when(isnan(t) | col(t).isNull(), t)).alias(t) for t in thermal_energy.columns]).show()

+------------------+-------------------+----------------+---------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+------------+------------+
|THERM JANUARY 2010|THERM FEBRUARY 2010|THERM MARCH 2010|TERM APRIL 2010|THERM MAY 2010|THERM JUNE 2010|THERM JULY 2010|THERM AUGUST 2010|THERM SEPTEMBER 2010|THERM OCTOBER 2010|THERM NOVEMBER 2010|THERM DECEMBER 2010|TOTAL THERMS|GAS ACCOUNTS|
+------------------+-------------------+----------------+---------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+------------+------------+
|              2230|               4232|            1482|           1575|          1857|           1767|           1820|             1908|                2282|              1722|               1559|               1544|        1296|        1296|
+------------------+-------------------+----------------+---------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+------------+------------+

Data cleaning by changing the column headers from upper case to lower case and wiht no spaces in between

In [ ]:
thermal_energy = thermal_energy.toDF('therm_january_2010',
 'therm_february_2010',
 'therm_march_2010',
 'therm_april_2010',
 'therm_may_2010',
 'therm_june_2010',
 'therm_july_2010',
 'therm_august_2010',
 'therm_september_2010',
 'therm_october_2010',
 'therm_november_2010',
 'therm_december_2010',
 'total_therms_2010',
 'gas_accounts')

In [ ]:
thermal_energy.show()

+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|therm_january_2010|therm_february_2010|therm_march_2010|therm_april_2010|therm_may_2010|therm_june_2010|therm_july_2010|therm_august_2010|therm_september_2010|therm_october_2010|therm_november_2010|therm_december_2010|total_therms_2010|gas_accounts|
+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|             2,326|              2,131|           1,400|             620|           502|            224|            222|              187|                 197|               252|                744|              2,112|           10,917|          11|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|             1,561|              1,388|           1,507|             701|           486|            380|             18|               16|                null|              null|               null|               null|            6,057|           4|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|                  9|                391|              400| Less than 4|
|               310|                268|             163|              77|            57|             23|             19|                8|                  14|                10|               null|               null|              949| Less than 4|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|             3,041|              2,680|           1,151|             373|           124|             26|             29|               25|                  49|               177|                670|              3,895|           12,240| Less than 4|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|               910|                738|             632|             448|           254|            113|             42|               29|                  33|                36|                166|                633|            4,034| Less than 4|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|               535|                458|             481|             307|           194|            145|            119|              102|                  88|               109|                141|                249|            2,928|           4|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|                115|              115|           4|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|              null|               null|            null|            null|          null|           null|           null|             null|                null|              null|               null|               null|             null|        null|
|               285|                285|             244|             129|            73|             46|             39|               27|                  39|                29|                 50|                144|            1,390| Less than 4|
+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
only showing top 20 rows

Displaying the structure

In [ ]:
display(thermal_energy)

DataFrame[therm_january_2010: string, therm_february_2010: string, therm_march_2010: string, therm_april_2010: string, therm_may_2010: string, therm_june_2010: string, therm_july_2010: string, therm_august_2010: string, therm_september_2010: string, therm_october_2010: string, therm_november_2010: string, therm_december_2010: string, total_therms_2010: string, gas_accounts: string]

The common functions from electrical energy subset to thermal energy subset

In [ ]:
from pyspark.sql.functions import col

thermal_energy = thermal_energy.where(col("total_therms_2010").isNotNull())

In [ ]:
thermal_energy.select([count(when(isnan(t) | col(t).isNull(), t)).alias(t) for t in thermal_energy.columns]).show()

+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|therm_january_2010|therm_february_2010|therm_march_2010|therm_april_2010|therm_may_2010|therm_june_2010|therm_july_2010|therm_august_2010|therm_september_2010|therm_october_2010|therm_november_2010|therm_december_2010|total_therms_2010|gas_accounts|
+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|               934|               2936|             186|             279|           561|            471|            524|              612|                 986|               426|                263|                248|                0|           0|
+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+

The below function is filling all the na values with mean of the values.

In [ ]:
def fillna_with_mean(dataframe, exclude=set()):
    stats = dataframe.agg(*(
        fn.avg(t).alias(t) for t in dataframe.columns if t not in exclude
    ))
    return dataframe.na.fill(stats.first().asDict())

In [ ]:
thermal_energy = fillna_with_mean(thermal_energy) #,['gas_accounts']

In [ ]:
thermal_energy.select([count(when(isnan(t) | col(t).isNull(), t)).alias(t) for t in thermal_energy.columns]).show()

+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|therm_january_2010|therm_february_2010|therm_march_2010|therm_april_2010|therm_may_2010|therm_june_2010|therm_july_2010|therm_august_2010|therm_september_2010|therm_october_2010|therm_november_2010|therm_december_2010|total_therms_2010|gas_accounts|
+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|                 0|                  0|               0|               0|             0|              0|              0|                0|                   0|                 0|                  0|                  0|                0|           0|
+------------------+-------------------+----------------+----------------+--------------+---------------+---------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+

In [ ]:
thermal_energy.show(5)

+------------------+-------------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|therm_january_2010|therm_february_2010| therm_march_2010|  therm_april_2010|   therm_may_2010|  therm_june_2010|  therm_july_2010|therm_august_2010|therm_september_2010|therm_october_2010|therm_november_2010|therm_december_2010|total_therms_2010|gas_accounts|
+------------------+-------------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
|             2,326|              2,131|            1,400|               620|              502|              224|              222|              187|                 197|               252|                744|              2,112|           10,917|          11|
|             1,561|              1,388|            1,507|               701|              486|              380|               18|               16|   226.4303414052556| 304.7364708603145| 437.43937948023705|  548.3150665666604|            6,057|           4|
| 586.1716299447584|   565.850200825932|547.2207491769731|457.36296315342884|406.5522955044383|292.9207597347167|238.4427112557513|221.7655266101966|   226.4303414052556| 304.7364708603145|                  9|                391|              400| Less than 4|
|               310|                268|              163|                77|               57|               23|               19|                8|                  14|                10| 437.43937948023705|  548.3150665666604|              949| Less than 4|
|             3,041|              2,680|            1,151|               373|              124|               26|               29|               25|                  49|               177|                670|              3,895|           12,240| Less than 4|
+------------------+-------------------+-----------------+------------------+-----------------+-----------------+-----------------+-----------------+--------------------+------------------+-------------------+-------------------+-----------------+------------+
only showing top 5 rows

# Analysis begins

Checking for the max consumption of electrical energy in chicago 2010. Monthwise classification for the year 2010

This can be obtained by using the MAX function of the PYSPARK by converting it to RDD(rdd function)

In [ ]:
list_columns = electrical_energy.columns
list_month = ['january','february','march','april','may','june','july','august','september','october','november','december']
for i in range(len(list_month)):
  print("The max usage of Electricity for {} is {} joules".format(list_month[i], electrical_energy.select(list_columns[i+3]).rdd.max()[0]))
  print("\n")

The max usage of Electricity for january is 999 joules


The max usage of Electricity for february is 999 joules


The max usage of Electricity for march is 999 joules


The max usage of Electricity for april is 999 joules


The max usage of Electricity for may is 999 joules


The max usage of Electricity for june is 999 joules


The max usage of Electricity for july is 999 joules


The max usage of Electricity for august is 999 joules


The max usage of Electricity for september is 999 joules


The max usage of Electricity for october is 999 joules


The max usage of Electricity for november is 999 joules


The max usage of Electricity for december is 998,728 joules

From the obtained result, we can see that in December, Electric Energy Usage is Max in Chicago during 2010. This could be certainly due to the extreme weather conditions and demand for using heating conditions.

In [ ]:
list_columns = thermal_energy.columns
list_month = ['january','february','march','april','may','june','july','august','september','october','november','december']
for i in range(len(list_month)):
  print("The max usage of thermal for {} is {} joules".format(list_month[i], thermal_energy.select(list_columns[i+1]).rdd.min()[0]))
  print("\n")

The max usage of thermal for january is 1 joules


The max usage of thermal for february is 1 joules


The max usage of thermal for march is 1 joules


The max usage of thermal for april is 1 joules


The max usage of thermal for may is 1 joules


The max usage of thermal for june is 1 joules


The max usage of thermal for july is 1 joules


The max usage of thermal for august is 1 joules


The max usage of thermal for september is 1 joules


The max usage of thermal for october is 1 joules


The max usage of thermal for november is 1 joules


The max usage of thermal for december is 1,000 joules

The thermal energy consumption is MAX for the DECEMEBER month in Chicago during 2010. This is when the energy usage is proportional to the season and weather conditons.

Aggregate of the electrical energy in kwh in Chicago 2010

In [ ]:
electrical_energy.agg({"total_kwh_2010":"sum"}).collect()[0]

Row(sum(total_kwh_2010)=529139.3446327659)

The total is 529139 KWH

Aggregate of the thermal energy in joules in Chicago 2010

In [ ]:
thermal_energy.agg({"total_therms_2010":"sum"}).collect()[0]

Row(sum(total_therms_2010)=480459.0)

The total is 480459 joules.

Which Community area in Chicago consumed most Electrical Energy in 2010

In [ ]:
from pyspark.sql.types import IntegerType
electrical_energy = electrical_energy.withColumn("total_kwh_2010", electrical_energy["total_kwh_2010"].cast(IntegerType()))

We changed the datatype from string to int of the total kwh

In [ ]:
from pyspark.sql.functions import desc
electrical_energy.groupBy('community_area_name').sum('total_kwh_2010').orderBy(desc("SUM(total_kwh_2010)")).show()

+--------------------+-------------------+
| community_area_name|sum(total_kwh_2010)|
+--------------------+-------------------+
|           West Town|              21663|
|      West Englewood|              19732|
|        Logan Square|              18287|
|      Near West Side|              17640|
|           Englewood|              16856|
|     Lower West Side|              16368|
|              Austin|              16007|
|     Near North Side|              15624|
|            New City|              15359|
|      North Lawndale|              15027|
|       Humboldt Park|              14367|
|      Jefferson Park|              12096|
|      South Lawndale|              12090|
|         South Shore|              11909|
|        Chicago Lawn|              11533|
|      Belmont Cragin|              11329|
|            Lakeview|              11088|
|        Portage Park|              10691|
|Greater Grand Cro...|              10438|
|         Irving Park|              10140|
+--------------------+-------------------+
only showing top 20 rows

We can see from the results that West Town has the max usage of energy. This area is in the Loop county of chicago which has many high raised building , several malls and other commercial complexes.

In [ ]:
from pyspark.sql.functions import asc
electrical_energy.groupBy('community_area_name').sum('total_kwh_2010').orderBy(asc("SUM(total_kwh_2010)")).show()

+-------------------+-------------------+
|community_area_name|sum(total_kwh_2010)|
+-------------------+-------------------+
|             O'Hare|               null|
|        Forest Glen|               null|
|            Oakland|                504|
|          Hegewisch|                504|
|            Pullman|                504|
|      South Deering|                708|
|        Avalon Park|               1008|
|    Mount Greenwood|               1008|
|            Kenwood|               1008|
|           Burnside|               1087|
|        Fuller Park|               1097|
|            Ashburn|               1259|
|    Near South Side|               1512|
|        Edison Park|               2016|
|         North Park|               2176|
|          Montclare|               2385|
|    Calumet Heights|               2520|
|          West Lawn|               2520|
|            Dunning|               2520|
|               Loop|               2520|
+-------------------+-------------------+
only showing top 20 rows

We can see that from results that Loop has most consumption of energy.

Let's now do it for Thermal energy.

In [ ]:
from pyspark.sql.types import IntegerType
thermal_energy = thermal_energy.withColumn("total_therms_2010", thermal_energy["total_therms_2010"].cast(IntegerType()))

In [ ]:
from pyspark.sql.functions import desc
thermal_energy.groupBy('gas_accounts').sum('total_therms_2010').orderBy(desc("SUM(total_therms_2010)")).show()

+------------+----------------------+
|gas_accounts|sum(total_therms_2010)|
+------------+----------------------+
| Less than 4|                304920|
|           4|                 37235|
|           6|                 23543|
|           5|                 22300|
|           8|                 14079|
|           7|                 13004|
|           9|                 11293|
|          11|                  9121|
|          12|                  7518|
|          13|                  6636|
|          10|                  5937|
|          14|                  3497|
|          16|                  3491|
|          15|                  3393|
|          20|                  2600|
|          22|                  1911|
|          19|                  1667|
|          26|                  1520|
|          18|                  1502|
|          17|                  1452|
+------------+----------------------+
only showing top 20 rows

Buildings having gas accounts less than 4 have most therms used and this type of gas accounts have been used by commercial units mainly. This could be used by the malls and other commercial units in chicago.

Now let's see which building type has most power consumed.

In [ ]:
electrical_energy.groupBy('building_type').sum('total_kwh_2010').orderBy(desc("SUM(total_kwh_2010)")).show()

+-------------+-------------------+
|building_type|sum(total_kwh_2010)|
+-------------+-------------------+
|   Commercial|             355503|
|  Residential|             164785|
|   Industrial|               8064|
+-------------+-------------------+

We can see that the commercial building and complexes of the Chicago state consumbe more energy as compared to residential and indutrial units.

Now lets see the max crowd of chicago as per the community.

In [ ]:
chicago_total_energy = df.select('COMMUNITY AREA NAME','TOTAL POPULATION','TOTAL UNITS')
display(chicago_total_energy)

DataFrame[COMMUNITY AREA NAME: string, TOTAL POPULATION: string, TOTAL UNITS: string]

In [ ]:
from pyspark.sql.types import IntegerType
chicago_total_energy = chicago_total_energy.withColumn("TOTAL POPULATION", chicago_total_energy["TOTAL POPULATION"].cast(IntegerType()))

In [ ]:
from pyspark.sql.functions import desc
chicago_total_energy.groupBy('COMMUNITY AREA NAME').sum('TOTAL POPULATION').orderBy(desc("SUM(TOTAL POPULATION)")).show()

+-------------------+---------------------+
|COMMUNITY AREA NAME|sum(TOTAL POPULATION)|
+-------------------+---------------------+
|           Lakeview|               270475|
|          West Town|               233660|
|             Austin|               199894|
|       Lincoln Park|               175958|
|       Logan Square|               168840|
|             Uptown|               168247|
|         West Ridge|               163179|
|     South Lawndale|               159528|
|        Rogers Park|               155816|
|     Belmont Cragin|               155374|
|       Portage Park|               136365|
|          Edgewater|               134250|
|        Irving Park|               134043|
|    Near North Side|               130986|
|        South Shore|               130845|
|        Albany Park|               125348|
|      Humboldt Park|               121880|
|       Chicago Lawn|               110069|
|     Lincoln Square|               103016|
|           New City|                93327|
+-------------------+---------------------+
only showing top 20 rows

We see that LakeView area of Chicago city has max population, its one of the 77 community areas of chicago and has many amenities. Hence, we see that this may lead to the high usage of enery in Chicago in 2010

# Now Lets see the Advantages and disadvantages between using PySpark and Pandas

# PySpark Over Pandas

### 1. In PySpark, we can execute parallel computations on multiple cores, kernals and execute multiple processes parallely. This would inturn increase the effiency. Whereas in Pandas, this type of parallel computation is not that efficient. In Pandas, dataframes are single server, in-memory. This would limit the size of the server memory.The Processing would be with a single server power.

### 2.PySpark is booming to become one of the best open source for data analysis procedures by providing platforms. For eg: this provides resilient distributed datasets a distributed collection of objects over pandas. Pandas has no rdd in them. Each dataset could be divided into logical partitions and could be used to compute different partitions of the cluster.

### 3.PySpark has many big data analysis tools and libraries for data analyts, which could be handy for analysing the data and learn them. In Pandas, the library is not offered to build models and analyse them.

# Pandas over PySpark

### 1.Pandas, a data analysis tool is  currently the most popular and mature open data source for data analysis tool. The libraries are highly optimised for performance.

### 2. Consider a complex where clause of sql in pyspark:In this case, Pandas was obviously fast in analysing the data and whereas, Spark struggled because of the complexity of the underlying data.

### 3. Joining the dataset (subset of the dataframe) would be another taxing task for the spark. This is common on a string column which would degrade the performance in spark

### 4.PySpark has no functions to determine the shape of the dataset.

### 5. PySpark is a framework for only large datasets on the other hand, pandas can process large data as well as smaller ones.